.d-block{
    width: 405px;
    height: 540px;
}
.vikram{
    font-size: 34px;
    color: rgb(245, 20, 188);

}
.md{
    margin-left: 200px;
    margin-top: 70px;
}
.pm{
    color: tomato;
    
}
.sam{
    margin-left: 140px;
}
