.d-block{
    width: 405px;
    height: 540px;
}
.vikram{
    font-size: 34px;
    color: rgb(245, 20, 188);

}
.md{
    /* margin-left: 140px; */
    margin-top: 40px;
}
.pm{
    color: tomato;
    
}
.class{
    color: rgb(255, 0, 0);
}
.class1{
    color: rgba(255, 132, 0, 0.919);
}
.class2{
    color: rgba(6, 237, 253, 0.943);
}

