.insta{
    margin-right: 22px;
    font-size: 36px;
    color: aqua;
}
.what{
    margin-right:10px;
    font-size: 36px;
    color: aqua;
}
.you{
    margin-right:12px;
    padding-left: 7px;
    font-size: 36px;
    color: aqua;
}