.insta{
    width:60px;
    margin-top: -40px;
    margin: 21px 16px;


    
}
.whatsapp{
    width:60px;
    margin-top: -40px;
    margin: 21px 16px;
}
.you{
    width:89px;
    margin-top: 0px; 
    margin: 14px 14px;  
}
.my-info{
    width: 65vw;
}
.mp{
    display: flex;
    flex-wrap: wrap;
    width:99vw;
    height: 190vh;
    
}
.ok{
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}
.row{
   font-size: 50px; 
}
/* 
.op{
    margin-top: -280px;
}
.gop{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:750px ){
    .body{
      width: 100px;
    }
} */