.insta{
    width:60px;
    margin-top: -40px;
    margin: 21px 16px;


    
}
.whatsapp{
    width:60px;
    margin-top: -40px;
    margin: 21px 16px;
}
.you{
    width:73px;
    margin-top: 0px; 
    margin: 21px 16px;  
}
.my-info{
    width: 65vw;
}
