button{
    margin: 1px ;
    background: aqua;
}
.nav-item1 {
    margin-left: 67px;
    margin-top: -39px;
}

@media screen and (min-width: 416px) {
    .nav-item1 {
        margin-left: 1px;
        margin-top: 1px;
    }
}

