*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
    box-sizing: border-box;
}
.body{
    min-height: 250vh ;
    margin-bottom: -3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background: #111111;
}
.skills{
    width: 100%;
    max-width: 600%;
    padding: 0 20px;
    flex-wrap: wrap;
}
.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}
.skill-per{
    height: 14px;
    background: #e70891;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}
.skill-bar:before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: o;
    transform  :translateX(50%) rotate(45deg);
    border-radius: 2px;
}
@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.h1{
    font-size: 25px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0; 
    margin-left: 100px;
    font-family: system-ui;
    color: rgb(10, 162, 232);
    margin-top: -170px;
}
.h2{
    font-size: 25px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0; 
    margin-left: 75px;
    font-family: system-ui;
    color: rgb(16, 204, 38);
    margin-top:1px;
}
.h3 {
    font-size: 25px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0; 
    margin-left: 75px;
    font-family: system-ui;
    color: rgb(8, 206, 255);
    margin-top: px;
}
.sona{
    font-size: 25px;
    font-weight: 700;
    color: #f1f1f1;
     width:94vw ;
}